<footer class="footer widget-footer clearfix">
  <div class="first-footer bg-base-skin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 align-self-center">
          <div class="featured-icon-box icon-align-before-content style5">
            <div class="featured-content">
              <div class="featured-title">
                <h3>ATAŞEHİR İSTANBUL</h3>
              </div>
            </div>
            <div class="featured-icon">
              <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-md cmt-icon_element-color-white">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="featured-icon-box style6">
            <div class="featured-icon">
              <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-color-white">
                <i class="fa fa-life-ring"></i>
              </div>
            </div>
            <div class="featured-content"><div class="featured-title"><h3>Bana Ulaşın</h3></div><div class="featured-desc"><p><a href="tel:+905330669156"> 0533 066 91 56</a></p></div></div>
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="featured-icon-box icon-align-before-content style5 reverse">
            <div class="featured-icon">
              <div class="cmt-icon cmt-icon_element-onlytxt cmt-icon_element-size-md cmt-icon_element-color-white">
                <i class="fa fa-heartbeat"></i>
              </div>
            </div>
            <div class="featured-content">
              <div class="featured-title">
                <h3>Bana UlaşabİLİRSİNİZ</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-footer bg-base-dark bg-img2">
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-sm-12 col-md-12 col-lg-5 pr-30 res-991-pr-0">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 widget-area">
              <div class="widget widget_text clearfix">
                <div class="footer-logo">
                  <img id="footer-logo-img" class="img-fluid auto_size" height="92" width="400" src="/assets/images/doktor_1.png" alt="Prof. Dr. Salim ŞENTÜRK">
                </div>
                <div class="textwidget widget-text">
                  <p>Prof. Dr. Salim Şentürk 1982 yılında Trabzonda doğdu. 2005 yılında Karadeniz Teknik Üniversitesi Tıp Fakültesini bitirdi. 2007-2013 yılları arasında Atatürk Eğitim Araştırma Hastanesinde Beyin ve Sinir cerrahisi uzmanlık eğitimini aldı.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="cmt-section footer-subscribebox">
                    <p>Beni Sosyal Medyada Takip Edin</p>
                    
                    
                     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 widget-area">
              <div class="widget cmt-social-links-wrapper">
                <ul class="social-icons">
                  <li class="cmt-social-facebook"><a class=" tooltip-top" target="_blank" href="https://www.facebook.com/people/drsalimsenturk/100067769228734/?mibextid=LQQJ4d" rel="noopener"><i class="ti ti-facebook"></i></a></li>
                  <li class="cmt-social-youtube"><a class=" tooltip-top" target="_blank" href="https://www.youtube.com/@drsalimsenturk" rel="noopener"><i class="ti ti-youtube"></i></a></li>
                  <li class="cmt-social-instagram"><a class=" tooltip-top" target="_blank" href="https://www.instagram.com/drsalimsenturk/" rel="noopener"><i class="ti ti-instagram"></i></a></li>
                  <li class="cmt-social-linkedin"><a class=" tooltip-top" target="_blank" href="https://www.linkedin.com/in/salim-senturk/?originalSubdomain=tr" rel="noopener"><i class="ti ti-linkedin"></i></a></li>
                </ul>
              </div>
            </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 widget-area">
              <div class="widget widget-recent-post with-title">
                <h3 class="widget-title">Menü</h3>
                
                <ul class="widget_contact_wrapper">
                   <li><p><a href="/ozgecmis" style="text-transform: capitalize;">Hakkımda</a></p></li>
                   <li><p><a href="/sayfalar/makaleler" style="text-transform: capitalize;">Makaleler</a></p></li>
                   <li><p><a href="/sayfalar/kitaplar-ve-bildiriler" style="text-transform: capitalize;">Kitaplar ve Bildiriler</a></p></li>
                   <li><p><a href="/sayfalar/kitap-bolumleri" style="text-transform: capitalize;">Kitap Bölümleri</a></p></li>
                   <li><p><a href="/sayfalar/kurslar-ve-sertifikalar" style="text-transform: capitalize;">Kurslar ve Sertifikalar</a></p></li>
                  <li><p><a href="/blog" style="text-transform: capitalize;">Blog</a></p></li>
                  <li><p><a href="/foto-galeri" style="text-transform: capitalize;">Foto Galeri</a></p></li>
                  <li><p><a href="/videolar" style="text-transform: capitalize;">Videolar</a></p></li>
                  <li><p><a href="/iletisim" style="text-transform: capitalize;">İletişim</a></p></li>
                </ul>
                
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 widget-area">
              <div class="widget widget-recent-post with-title">
                <h3 class="widget-title">Uzmanlık Alanları</h3>
                
                <ul class="widget_contact_wrapper">
               
                  
                   
                    <li><p><a href="/tedaviler/omurga-cerrahisi" style="text-transform: capitalize;">Omurga Cerrahisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/deformite-cerrahisi" style="text-transform: capitalize;">Deformite Cerrahisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/endoskopik-omurga-cerrahisi" style="text-transform: capitalize;">Endoskopik Omurga Cerrahisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/periferik-sinir-cerrahisi" style="text-transform: capitalize;">Periferik Sinir Cerrahisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/bel-fitigi" style="text-transform: capitalize;">Bel Fıtığı Ameliyatı</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/bel-kaymasi" style="text-transform: capitalize;">Bel Kayması</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/bel-kanal-darligi" style="text-transform: capitalize;">Bel Kanal Darlığı</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/boyun-fitigi" style="text-transform: capitalize;">Boyun Fıtığı Ameliyatı</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/boyun-kanal-darligi" style="text-transform: capitalize;">Boyun Kanal Darlığı</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/srt-ft-torakal-disk-hernisi-nedir-nasl-tedavi-edilir" style="text-transform: capitalize;">Sırt Fıtığı (Torakal Disk Hernisi)</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/omurga-arlarnda-enjeksiyon-tedavisinin-faydalar-nelerdir" style="text-transform: capitalize;">Omurga Ağrılarında Enjeksiyon Tedavisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/siyatik-agrisi-tedavisi" style="text-transform: capitalize;">Siyatik Ağrısı Tedavisi</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/omurga-tumorleri-nelerdir-nasil-tedavi-edilir" style="text-transform: capitalize;">Omurga Tümörleri</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/sakrum-tumoru-nedir-nasil-tedavi-edilir" style="text-transform: capitalize;">Sakrum Tümörü</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/tarlov-kisti-nedir-ne-zaman-ameliyat-edilir" style="text-transform: capitalize;">Tarlov Kisti</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/kifoz" style="text-transform: capitalize;">Kifoz</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/gergin-omurilik-sendromu" style="text-transform: capitalize;">Gergin Omurilik Sendromu</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/cocuklarda-skolyoz" style="text-transform: capitalize;">Çocuklarda Skolyoz</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/eriskin-skolyoz" style="text-transform: capitalize;">Erişkin Skolyoz</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/beyin-tumoru" style="text-transform: capitalize;">Beyin Tümörü</a></p></li>
                   
                  
                   
                    <li><p><a href="/tedaviler/beyincik-sarkmasi" style="text-transform: capitalize;">Beyincik Sarkması </a></p></li>
                   
                 
                </ul>
                
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 widget-area">
              <div class="widget widget_contact clearfix">
                <h3 class="widget-title">İletişim</h3>
                <ul class="widget_contact_wrapper">
                  <li><p><strong>Gsm : </strong><a href="tel:+905330669156"> 0533 066 91 56</a></p></li>
                  <li><p><strong>Email : </strong><a href="mailto:info@salimsenturk.com">info@salimsenturk.com</a></p></li>
                  <li><p><strong>Adres : </strong> Barboros Mah. Mimar Sinan Cad. Bahçecik Sokak No:1 İç Kapı No:1  Ataşehir/İstanbul</p></li>
                  <li><p><strong>Çalışma : </strong> Pzt - Cum 08.30 - 22.00</p></li>
                   <li><p><strong>Çalışma : </strong> Cts - Pzr 10.00 - 18.00</p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer-text bg-base-dark">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
             <a class="text-white" target="_blank" href="">Prof. Dr. Salim Şentürk</a> 2023 Tüm Hakları Saklıdır.
          </div>
        </div>
            <div class="col-md-12 text-center "> <span class="pq-copyright text-white"> Son Güncellenme Tarihi : 04.12.2023</span> </div>
               <div class="col-md-12 text-center "> <span class="pq-copyright text-white"> Editör : +90 542 506 57 24 </span> </div>
      </div>
    </div>
  </div>
</footer>