<header id="masthead" class="header cmt-header-style-03" role="banner">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/themify-icons/0.1.2/css/themify-icons.css">
    <div id="site-header-menu" class="site-header-menu cmt-bgcolor-white">
        <div class="site-header-menu-inner">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="site-navigation d-flex flex-row align-items-center justify-content-between">
                            <div class="site-branding">
                                <a class="home-link" href="/index.html" title="Prof. Dr. Demo" rel="home">
                                    <img id="logo-img" class="img-fluid auto_size" src="/assets/images/doktor_logo.png" alt="Prof. Dr. Demo">
                                </a>
                            </div>
                            <div class="site-menubar">
                                <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-dark d-block d-sm-none" style="margin-right: 50px;" href="tel:+905330669156" rel="noopener" aria-label="icon">Randevu Al</a>
                                <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                    <span class="menubar-box"><span class="menubar-inner"></span></span>
                                </div>
                                <div class="header_extra d-flex flex-row align-items-center justify-content-end">
                                    <div class="widget_info"><div class="widget_content"><a href="mailto:info@demo.com">info@demo.com</a><p class="widget_desc">E-Posta Gönderin</p></div></div>
                                    <div class="header_btn"><a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-fill cmt-btn-color-dark" href="iletisim.html#hiza" rel="noopener" aria-label="icon">Randevu Al</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cmt-horizontal_sep"></div>
    <div class="site-header-menu-inner cmt-stickable-header">
        <div class="container"><div class="row"><div class="col">
            <div class="site-navigation d-flex justify-content-between align-items-center">
                <div class="align-self-center">
                    <nav class="main-menu menu-mobile" id="menu">
                        <ul class="menu">
                            <li class="mega-menu-item "><a href="/hakkimda.html">Hakkımda</a></li>
                            <li class="mega-menu-item  "><a href="/tedaviler.html" class="mega-menu-link">Uzmanlık Alanlarım</a>
                                <ul class="mega-submenu">
                                    <li><a href="/tedaviler.html">Omurga Cerrahisi</a></li>
                                    <li><a href="/tedaviler.html">Deformite Cerrahisi</a></li>
                                    <li><a href="/tedaviler.html">Endoskopik Omurga Cerrahisi</a></li>
                                    <li><a href="/tedaviler.html">Periferik Sinir Cerrahisi</a></li>
                                    <li><a href="/tedaviler.html">Bel Fıtığı Ameliyatı</a></li>
                                    <li><a href="/tedaviler.html">Bel Kayması</a></li>
                                    <li><a href="/tedaviler.html">Bel Kanal Darlığı</a></li>
                                    <li><a href="/tedaviler.html">Boyun Fıtığı Ameliyatı</a></li>
                                    <li><a href="/tedaviler.html">Boyun Kanal Darlığı</a></li>
                                    <li><a href="/tedaviler.html">Sırt Fıtığı (Torakal Disk Hernisi)</a></li>
                                    <li><a href="/tedaviler.html">Omurga Ağrılarında Enjeksiyon Tedavisi</a></li>
                                    <li><a href="/tedaviler.html">Siyatik Ağrısı Tedavisi</a></li>
                                    <li><a href="/tedaviler.html">Omurga Tümörleri</a></li>
                                    <li><a href="/tedaviler.html">Sakrum Tümörü</a></li>
                                    <li><a href="/tedaviler.html">Tarlov Kisti</a></li>
                                    <li><a href="/tedaviler.html">Kifoz</a></li>
                                    <li><a href="/tedaviler.html">Gergin Omurilik Sendromu</a></li>
                                    <li><a href="/tedaviler.html">Çocuklarda Skolyoz</a></li>
                                    <li><a href="/tedaviler.html">Erişkin Skolyoz</a></li>
                                    <li><a href="/tedaviler.html">Beyin Tümörü</a></li>
                                    <li><a href="/tedaviler.html">Beyincik Sarkması</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-item"><a href="/akademik.html">Akademik</a></li>
                            <li class="mega-menu-item"><a href="/blog.html">Blog</a></li>
                            <li class="mega-menu-item  "><a href="#" class="mega-menu-link">Galeri</a>
                                <ul class="mega-submenu">
                                    <li><a href="/foto-galeri.html">Foto Galeri</a></li>
                                    <li><a href="/videol-galeri.html">Videolar</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-item "><a href="/iletisim.html">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="align-self-center"><div class="header_extra"><div class="widget_info"><div class="widget_content"><h3></h3></div></div></div></div>
            </div>
        </div></div></div>
    </div>
</header>
